html{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

body{
    /* background-color: rgb(100, 36, 36); */
    background-image: url(../Images/back2.jpg);
    /* background-size: 100%; */
}

.nav-wrapper{
    display: flex;
    justify-content: center;
}

.nav-wrapper a{
    padding: 0.5rem;
    color: rgb(232, 252, 51);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-wrapper a:hover{
    color: rgb(89, 231, 236);
    border-bottom: solid 1px;
}

h1{
text-align: center;
color: rgb(40, 255, 40);
}

.container{
    display: flex;
    justify-content: space-between;
}

.modul1{
    width: 110%;
    padding: 1rem;
}

.modul2{
    width: 150%;
    padding: 0.5rem;
}

.modul3{
    width: 600%;
}

.modul1 p{
    font-size: 5rem;
    display: unset;
    color: rgb(78, 216, 124);
}

.modul2 p{
    font-size: 1.2rem;
}

.modul3 p{
    font-size: 1.2rem;
}

.modul3 h2{
    color: rgb(23, 228, 243);
}

.demo-tabelle{
    width: 90%;
    border-collapse: collapse;
    margin: auto;
}

.demo-tabelle td, .demo-tabelle th{
    border: solid 1px;
    text-align: left;
    padding: 0.6rem;
    color: black;
}

.demo-tabelle caption{
    font-size: 2rem;
    color: rgb(228, 241, 34);
}

.demo-tabelle thead tr{
    background-color: rgb(216, 187, 167);
    position: sticky;
    top: 0;
}

.demo-tabelle tbody tr:nth-child(odd){
    background-color: rgb(116, 238, 232);
}

.demo-tabelle tbody tr:nth-child(even){
    background-color: rgb(224, 235, 81);
}

.dropdown-menu, .submenu {
    position: relative;
    display: inline-block;
}

.dropdown-list{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 8px color white;
}

.dropdown-menu:hover .dropdown-list, 
  .submenu:hover{
    display: block;
  }

.dropdown-list a{
    color: rgb(232, 252, 51);
    text-decoration: none;
    display: block;
}

.nav-bottom{
    display: flex;
    justify-content: center;
}

.nav-bottom a{
    padding: 0.5rem;
    color: rgb(232, 252, 51);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-bottom a:hover{
    color: rgb(89, 231, 236);
    border-bottom: solid 1px;
}