html{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

body{
    /* background-color: rgb(100, 36, 36); */
    background-image: url(../Images/back2.jpg);
    /* background-size: 100%; */
}

.nav-wrapper{
    display: flex;
    justify-content: center;
}

.nav-wrapper a{
    padding: 0.5rem;
    color: rgb(232, 252, 51);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-wrapper a:hover{
    color: rgb(89, 231, 236);
    border-bottom: solid 1px;
}

h1{
    text-align: center;
    color: rgb(40, 255, 40);
}

li{
    color: rgb(40, 126, 255);
    font-size: 1.7rem;
    font-weight: 800;
}

div{
    color: rgb(240, 243, 65);
}

div1{
    color: rgb(40, 255, 155);
    font-size: 1.3rem;
    font-weight: 700;
    
}

p{
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
}

p1{
    font-size: 1.3rem;
    color: rgb(109, 222, 226);
    font-weight: 900;
    display: flex;
    padding: 0.8rem;
}

.nav-bottom{
    display: flex;
    justify-content: center;
}

.nav-bottom a{
    padding: 0.5rem;
    color: rgb(232, 252, 51);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-bottom a:hover{
    color: rgb(89, 231, 236);
    border-bottom: solid 1px;
}